/* Dark mode colors. */
:root {
	.nova-link-button-primary {
		background-color: #0077FF;
	}
	.nova-site-title * {
		color: #0077FF;
	}
	--sl-color-accent-low: #0a2347;
	--sl-color-accent: #0077FF;
	--sl-color-accent-high: #abcbf9;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eaeef4;
	--sl-color-gray-2: #bdc2ca;
	--sl-color-gray-3: #838c9a;
	--sl-color-gray-4: #505965;
	--sl-color-gray-5: #313944;
	--sl-color-gray-6: #202732;
	--sl-color-black: #15181e;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c1d9fc;
	--sl-color-accent: #0077FF;
	--sl-color-accent-high: #042f69;
	--sl-color-white: #15181e;
	--sl-color-gray-1: #202732;
	--sl-color-gray-2: #313944;
	--sl-color-gray-3: #505965;
	--sl-color-gray-4: #838c9a;
	--sl-color-gray-5: #bdc2ca;
	--sl-color-gray-6: #eaeef4;
	--sl-color-gray-7: #f4f6f9;
	--sl-color-black: #ffffff;
}
